[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
gym-cliffwalking = {editable = true, path = "./envs/gym-cliffwalking-master"}
matplotlib = "*"
numpy = "*"
pyglet = "*"
gym-auv = {editable = true, path = "./envs/gym-auv"}
torch = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
